@page
@model ABC.Pages.Party.PersonAddressesPage;
@using ABC.Pages.Extensions

@{

    Layout = "_Create";
}
<body>
    @Html.MyEditorFor(m => m.Item.Id)
    <partial name="_EditPersonAddresses"/>

</body>

