@page
@model ABC.Pages.Party.CurrenciesPage;
@using ABC.Pages.Extensions

@{

    Layout = "_Create";
}
<body>
    @MyEditorForHtml.MyEditorFor(Html, m => m.Item.Id)
    <partial name="_EditCurrency"/>

</body>

